
        .img
        {background-color: black;
         width: 50%;
         display: block;
         margin: auto;
         

        }

        body{
            background-color: black;
            display: block;

            margin: auto;
        }


    
        .nav
        {background: #000000;
         padding: 15px 20px;
         display: flex;
         justify-content: space-between;
         align-items: center;}

        .nav-logo
        {color: white;
         font-size: 40px;
         font-weight: bold;}

        .nav-menu
        {display: flex;
         gap: 20px;}

        .nav-item
        {color: white;
         text-decoration: none;
         padding: 5px 10px;}

          img
        {max-width: 90%;
         height: auto;
         margin: 10px;
         display: inline-block}

           body
        {margin: 0;
         min-height: 100vh;
         background-color: black;
         text-align: center;}

    